<!DOCTYPE html>
<meta name="viewport" content="width=device-width, user-scalable=no">
<html>
<head>
    <title><%= title %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/sb-admin.css">
    <link rel="stylesheet" href="stylesheets/bootstrap-material-design.css">
    <link rel="stylesheet" href="stylesheets/ripples.css">

    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">

    <!-- Material Design fonts -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>

    <script src="javascripts/style/ripples.js"></script>
    <script src="javascripts/style/material.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <script src="javascripts/angular.js"></script>

    <script src="javascripts/factory/auth.js"></script>
    <script src="javascripts/factory/hit.js"></script>
    <script src="javascripts/factory/device.js"></script>
    <script src="javascripts/factory/train.js"></script>

    <script src="javascripts/controller/authController.js"></script>
    <script src="javascripts/controller/navController.js"></script>
    <script src="javascripts/controller/homeController.js"></script>
    <script src="javascripts/controller/mainController.js"></script>
    <script src="javascripts/controller/deviceController.js"></script>
    <script src="javascripts/controller/liveController.js"></script>
</head>
<body class="no-margin" ng-app="mcnCoffee" ng-controller="NavCtrl">
<body class="nav-top-fixed-body" ng-app="mcnCoffee" ng-controller="NavCtrl">
    <nav style="background-color: #333" ng-show="isLoggedIn()" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand Rock-Salt" href="#/main">Punch Line</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li id="trace_li"><a href="/#/main">Trace</a></li>
                <li id="train_li"><a href="/#/device">Train</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right right-half-margin">
                <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Sign Out</a></li>
            </ul>
        </div>
    </nav>
  <ui-view></ui-view>
  <script type="text/ng-template" id="/home.html">
      <div class="full-background" style="margin-top: -70px;">
          <div class="title">
              <div class="font">Punch Line</div>
              <button ng-click="initForm(true)" data-toggle="modal" data-target="#loginModal" class="btn btn-default start">Continue</button>
              <button ng-click="initForm(true)" data-toggle="modal" data-target="#registerModal" class="btn btn-default start">New Game</button>
          </div>
      </div>
      <!-- Modal -->
      <div id="loginModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button ng-click="initForm()" type="button" class="close" data-dismiss="modal">&times;</button>
                      로그인하세요
                  </div>
                  <div class="modal-body">
                      <div ng-show="error" class="alert alert-danger row">
                          <span>{{ error.message }}</span>
                      </div>
                      <form class="form-horizontal">
                          <fieldset>
                              <div class="form-group is-empty">
                                  <label for="inputName" class="col-md-2 control-label">이름</label>
                                  <div class="col-md-10">
                                      <input ng-keypress="catchEnter(0)" ng-focus="initForm()" id="inputName" type="text" class="form-control" placeholder="이름" ng-model="user.username"/>
                                  </div>
                                  <span class="material-input"></span>
                              </div>
                              <div class="form-group is-empty">
                                  <label for="inputPassword" class="col-md-2 control-label">비밀번호</label>
                                  <div class="col-md-10">
                                      <input ng-keypress="catchEnter(0)" ng-focus="initForm()" id=inputPassword" type="password" class="form-control" placeholder="비밀번호" ng-model="user.password"/>
                                  </div>
                                  <span class="material-input"></span>
                              </div>
                          </fieldset>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button  data-dismiss="modal" id="login_but" ng-click="logIn()" class="btn btn-primary">로그인</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal -->
      <div id="registerModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                      <button ng-click="initForm()" type="button" class="close" data-dismiss="modal">&times;</button>
                      반갑습니다
                  </div>
                  <div class="modal-body">
                      <div ng-show="error" class="alert alert-danger row">
                          <span>{{ error.message }}</span>
                      </div>
                      <form class="form-horizontal">
                          <fieldset>
                              <div class="form-group is-empty">
                                  <label for="inputName" class="col-md-2 control-label">이름</label>
                                  <div class="col-md-10">
                                      <input ng-keypress="catchEnter(0)" ng-focus="initForm()" id="inputName" type="text" class="form-control" placeholder="이름" ng-model="user.username"/>
                                  </div>
                                  <span class="material-input"></span>
                              </div>
                              <div class="form-group is-empty">
                                  <label for="inputPassword" class="col-md-2 control-label">비밀번호</label>
                                  <div class="col-md-10">
                                      <input ng-keypress="catchEnter(1)" ng-focus="initForm()" id=inputPassword" type="password" class="form-control" placeholder="비밀번호" ng-model="user.password"/>
                                  </div>
                                  <span class="material-input"></span>
                              </div>
                          </fieldset>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button  data-dismiss="modal" id="register_but" ng-click="register()" class="btn btn-primary">회원가입</button>
                  </div>
              </div>
          </div>
      </div>
  </script>
  <script type="text/ng-template" id="/main.html">
      <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div class="page-header pull-center">
                  <h1><span class="Rock-Salt" style="font-size: xx-large;">{{currentUser().username}}</span> 의 훈련 기록</h1>
              </div>
              <div ng-repeat="train in trains | orderBy: '-start_time'">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          {{ getTimeFormat(train.start_time) }} 훈련 기록
                      </div>
                      <div class="panel-body">
                          <div class="row">
                              <div>
                                  <span>좌측 가슴</span>( {{ train.result[0] }} 회 ) {{ getPercent(train.result, train.result[0]) }} %
                                  <div class="progress progress-striped active">
                                      <div class="progress-bar" style="width:{{getPercent(train.result, train.result[0])}}%; background-color:#333"></div>
                                  </div>
                              </div>
                              <div>
                                  <span>중앙 가슴</span>( {{ train.result[1] }} 회 ) {{ getPercent(train.result, train.result[1]) }} %
                                  <div class="progress progress-striped active">
                                      <div class="progress-bar" style="width:{{getPercent(train.result, train.result[1])}}%; background-color:#333"></div>
                                  </div>
                              </div>
                              <div>
                                  <span>우측 가슴</span>( {{ train.result[2] }} 회 ) {{ getPercent(train.result, train.result[2]) }} %
                                  <div class="progress progress-striped active">
                                      <div class="progress-bar" style="width:{{getPercent(train.result, train.result[2])}}%; background-color:#333"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="panel-footer">
                          <div id="chart{{train._id}}" class="pull-center">
                              <button id="but{{train._id}}" ng-click="getEvents(train)" class="btn btn-raised btn-primary">자세히 보기</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </script>
    <script type="text/ng-template" id="/device.html">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="page-header pull-center">
                    <h1>훈련할 장비를 선택하세요</h1>
                </div>
                <div ng-repeat="device in devices">
                    <a href="/#/live/{{device.device_id}}">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div> IoT 개론 특수 제작 장비 <span class="label label-primary pull-right">사용 가능</span></div>
                        </div>
                        <div class="panel-body">
                            {{ device.device_id}}
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
  </script>
  <script type="text/ng-template" id="/live.html">
      <div class="row">
          <div class="col-sm-8">
              <div class="bottom-full-margin">
                <span class="h1 NanumBrush">훈련 </span>
                  <span> {{ currentUser().username }} </span>
              </div>
              <div class="bs-component">
                  <div class="progress progress-striped active">
                      <div class="progress-bar" style="width:{{last_percent}}%; background-color:#333"></div>
                  </div>
                  <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
              </div>
              <div class="graph" style="text-align: center">
              </div>
              <div class="chart" style="text-align: center">
              </div>
          </div>
          <div class="col-sm-4">
              <div class="pull-center">
                  <div class="panel panel-default">
                      <div class="panel-heading pull-center NanumBrush" style="font-size: large">
                          남은 시간
                      </div>
                      <div class="panel-body">
                          <div class="h4 pull-center NanumBrush" style="font-size: large"> {{last_time_string}} </div>
                          <button ng-show='!train.isTrain' ng-click="startTrain()" class="btn btn-block btn-raised btn-primary NanumBrush" style="font-size: large; background-color:#333"> 훈련 시작 </button>
                          <button ng-show='train.isTrain' ng-click="stopTrain()" class="btn btn-block btn-raised btn-primary NanumBrush" style="font-size: large; background-color:#333"> 훈련 중지 </button>
                      </div>
                  </div>
              </div>
              <div style="overflow:auto; height:500px; padding-left:10px; padding-right:10px;">
                  <div  ng-repeat="event in events">
                      <div class="panel panel-default">
                          <div class="panel-body">
                              <div> <span class="NanumBrush" style="font-size: x-large">{{ getHitLabel(event.status, event.labels) }}</span> 타격을 입었습니다.</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal -->
      <div id="resultModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-body">
                      경기가 끝났습니다.
                  </div>
                  <div class="modal-footer">
                      <button  data-dismiss="modal" ng-click="init()" class="btn btn-primary">다시하기</button>
                      <button  data-dismiss="modal" ng-click="finish()" class="btn btn-primary">나가기</button>
                  </div>
              </div>
          </div>
      </div>
  </script>
</body>
