<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <title> bar chart practice 2 </title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="bar_chart_part2.js"></script>
    <link rel="stylesheet" type="text/css" href="bar_chart_part2.css">
</head>
<body>
</body>
</html>